<div class="bg-white p-6 w-full rounded-md shadow border-2 border-gray-200">
    <h2 class="text-lg font-semibold mb-4">Dashboard</h2>
    <div class="mt-4">
        <mat-card class="!bg-[#f2f2f2] mb-6 p-15 shadow-none mat-elevation-z0 rounded-md border-2 border-gray-200">
            <img [src]="userInformation.avatar" class="w-70 h-70 rounded-full mb-4 mx-auto" alt="Avatar" />
            <mat-card-title class="text-center !font-bold !text-3xl">Bienvenido,
                {{userInformation.nombre}}</mat-card-title>
                <p class="my-6"></p>
                <hr />
                <p class="text-gray-600 text-center text-3xl mt-4">Bienvenido al panel del estudiante.</p>
        </mat-card>
    </div>
</div>
