<div *ngIf="resource" class="w-full pt-4">
    <!-- Stars -->
    <div class="flex items-center mb-4 justify-between">
        <div class="flex items-center space-x-2" id="rating-stars">
            <span class="text-lg font-semibold">Valoración:</span>
            <!-- Five stars -->
            <button matFab extended *ngFor="let star of [1, 2, 3, 4, 5], let i = index" class="star-button cursor-pointer hover:!text-[#ad1d7d]" (click)="onStarClick(i)">
                <mat-icon attr.data-star-index="{{i}}" class="star-icon">star</mat-icon>
            </button>
        </div>
        <!-- Average Rating -->
        <div class="mt-3">
            <!-- <span class="text-lg font-semibold">Valoración promedio:</span> -->
            <div class="flex items-center space-x-2 justify-center">
                <span class="text-3xl font-bold">{{ averageRating.toFixed(2) }}</span>
            </div>
            <div>
                <span class="text-sm">{{ totalRatingsCount }} valoraciones</span>
            </div>
        </div>
    </div>


</div>