<div class="bg-white p-6 w-full rounded-md shadow-md">
    @if (isLoading) {
    <div class="loadingData flex items-center justify-center">
        <mat-spinner></mat-spinner>
    </div>
    }

    <div *ngIf="!isLoading" class="w-full">
        <h1 class="text-3xl font-bold mb-4 text-black">Administración de Recursos</h1>

        <!-- nuevo: enlace debajo del título, alineado a la izquierda -->

        <div class="mb-4">
            <button mat-stroked-button color="warn" (click)="verFavoritos()">
                Ver recursos favoritos
            </button>
        </div>

        <!-- Divider -->
        <div class="border-b border-gray-300 mb-4"></div>

        <div class="mb-6">
            <div class="flex justify-end items-center mb-4">
                <button mat-raised-button
                    class="!bg-[#ad1d7d] flex py-2 !text-lg hover:!bg-[#505050] !text-white !rounded-md justify-center cursor-pointer hover:bg-[#303030]"
                    (click)="openResourcesCreateDialog()">
                    <mat-icon class="mr-2">post_add</mat-icon>
                    Agregar nuevo recurso
                </button>
            </div>

            <!-- <div class="table-container mt-6 overflow-x-auto">
                <table datatable [dtOptions]="dtOptions" class="row-border hover custom-data-table w-full">
                    <thead>
                        <tr>
                            <th class="pb-2">ID</th>
                            <th class="pb-2">Título</th>
                            <th class="pb-2">Descripción</th>
                            <th class="pb-2">Tipo</th>
                            <th class="pb-2">Categoría</th>
                            <th class="pb-2">Licencia</th>
                            <th class="pb-2">Usuario</th>
                            <th class="pb-2">Fecha de subida</th>
                            <th class="pb-2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let recurso of listResources">
                            <td>{{ recurso.id }}</td>
                            <td>{{ recurso.titulo }}</td>
                            <td>{{ recurso.descripcion }}</td>
                            <td>{{ recurso.tipo }}</td>
                            <td>{{ recurso.categoria?.nombre }}</td>
                            <td>{{ recurso.licencia?.nombre }}</td>
                            <td>{{ recurso.usuario?.nombre }}</td>
                            <td>{{ recurso.fechaSubida | date:'short' }}</td>
                            <td class="flex justify-center items-center gap-2">
                                <button mat-mini-fab
                                    class="cursor-pointer !bg-[#ad1d7d] !text-white !mat-elevation-z0 !rounded-md !shadow-none hover:!border-white hover:!border-2"
                                    (click)="openResourcesEditDialog(recurso)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab
                                    class="cursor-pointer !bg-red-500 !text-white !mat-elevation-z0 !rounded-md !shadow-none hover:!border-white hover:!border-2"
                                    (click)="deleteResource(recurso.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

            <!-- Cards container -->
            <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <mat-card *ngFor="let recurso of listResources"
                    class="cursor-pointer hover:!shadow-lg transition-shadow duration-300 rounded-lg p-4 !bg-white"
                    appearance="outlined">
                    <div class="header-container flex items-center justify-between">
                        <mat-icon class="text-4xl !text-[#ad1d7d] mr-2">{{ recurso.icon }}</mat-icon>

                        <!-- Agregar a favoritos -->
                        <button mat-icon-button (click)="toggleFavorite(recurso)">
                            <mat-icon [style.color]="recurso.isFavorite ? '#ad1d7d' : 'gray'">
                                {{ recurso.isFavorite ? 'favorite' : 'favorite_border' }}
                            </mat-icon>
                        </button>

                    </div>
                    <!-- Divider -->
                    <div class="border-b border-gray-300 mb-2 mt-2"></div>
                    <mat-card-header>

                        <mat-card-title class="text-lg font-semibold">{{ recurso.titulo }}</mat-card-title>
                        <mat-card-subtitle class="text-sm text-gray-600">{{ recurso.tipo }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-gray-700">{{ recurso.descripcion }}</p>
                        <p class="text-sm text-gray-500 mt-2">Categoría: {{ recurso.categoria?.nombre }}</p>
                        <p class="text-sm text-gray-500">Licencia: {{ recurso.licencia?.nombre }}</p>
                        <p class="text-sm text-gray-500">Subido por: {{ recurso.usuario?.nombre }}</p>
                        <p class="text-sm text-gray-500">Fecha de subida: {{ recurso.fechaSubida | date:'short' }}</p>
                    </mat-card-content>
                    <mat-card-actions class="justify-end">
                        <button mat-button color="primary" (click)="openResourcesEditDialog(recurso)">Editar</button>
                        <button mat-button color="warn" (click)="deleteResource(recurso.id)">Eliminar</button>
                    </mat-card-actions>

                </mat-card>

            </div>
        </div>
    </div>