<div class="w-full bg-white p-8 rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold text-black">Mis Favoritos</h1>
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="isLoading" class="py-8 flex justify-center">
        <mat-spinner diameter="40"></mat-spinner>
    </div>

    <mat-list *ngIf="!isLoading">
        <mat-list-item *ngFor="let favorite of favorites" class="hover:bg-gray-50">
            <mat-icon mat-list-icon class="text-pink-500">favorite</mat-icon>
            
            <div mat-line class="font-medium text-lg">{{favorite.nombre}}</div>
            <div mat-line class="text-gray-500">{{favorite.descripcion}}</div>
            
            <button mat-icon-button color="warn" (click)="deleteFavorite(favorite.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>

        <mat-list-item *ngIf="favorites.length === 0">
            <mat-icon mat-list-icon>info</mat-icon>
            <div mat-line>No tienes favoritos guardados</div>
        </mat-list-item>
    </mat-list>

    <div class="mt-6 flex justify-end">
        <button mat-raised-button color="primary" (click)="closeDialog()">
            Cerrar
        </button>
    </div>
</div>